StrategyPattern.suo
StrategyPattern.sln.DotSettings.user
_ReSharper.StrategyPattern/
StrategyPattern.5.1.ReSharper.user
StrategyPattern/bin/
StrategyPattern/obj/
StrategyPatternTest/bin/
StrategyPatternTest/obj/